.logo {
  height: 24px;
  width: 24px;
  display: block;
  margin: 8px;
}

header {
  box-sizing: border-box;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 3000;

  button {
    color: var(--white) !important;
  }
}

.has-submenu {
  position: relative;
}

.has-submenu > a,
.has-submenu > button {
  padding-right: 16px;
}

.has-submenu > a::after,
.has-submenu > button::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  position: absolute;
  right: 0;
  bottom: 16px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--white);
  cursor: pointer;
}

.submenu {
  position: absolute;
  padding: 24px;
  box-sizing: border-box;
  border-radius: 4px;
  list-style: none;
  background: #fff;
  top: 100%;
  grid-template-columns: minmax(0, 1fr);
  width: max-content;
  grid-gap: 24px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .16);
  display: none;

  li {
    padding: 0;
    margin: 0;
    display: block;
  }

  li a {
    color: var(--black)!important;
    text-decoration: none;
  }
}

.has-submenu:hover > .submenu,
.has-submenu > button:active ~ .submenu,
.has-submenu > button:focus ~ .submenu,
.has-submenu:focus-within .submenu {
  display: grid;
}

header.header--white {
  background: #fff;
  box-shadow: 0 0 12px -1px rgba(0,0,0,0.1);

  * {
    color: var(--black) !important;
  }

  .btn__icon--hamburger span,
  .btn__icon--hamburger span::before,
  .btn__icon--hamburger span::after {
    background: var(--black);
  }

  .has-submenu > a::after,
  .has-submenu > button::after {
    border-top: 4px solid var(--black);
  }
}

.mobile-nav {
  display: none;
  grid-template-columns: repeat(2, minmax(0, max-content));
  justify-content: space-between;
  align-items: center;

  div {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, max-content));
    grid-gap: 8px;
  }
}

.desktop-nav > ul {
  display: grid;
  margin: 0 auto;
  width: max-content;
  grid-template-columns: repeat(8, minmax(0, max-content));
  list-style: none;
  grid-gap: 36px;
  align-content: center;
}

.desktop-nav > ul > li {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.desktop-nav > ul > li > button {
  background: transparent;
  border: 0;
  appearance: none;
}

.desktop-nav > ul > li > a,
.desktop-nav > ul > li > button {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  font-size: 14px;
}

.nav-button--live {}

.sub-nav {
  display: none;
}

@media screen and (max-width: 960px) {
  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: grid;
  }
}

.red-bar {
  width: calc(100% + 16px);
  display: flex;
  margin: -8px -8px 0;
  box-sizing: border-box;
  padding: 8px;
  justify-content: center;

  &:not(.live) {
    display: none;
  }

  .red-bar__content {
    display: grid;
    width: max-content;
    grid-template-columns: repeat(2, minmax(0, max-content));
    align-items: center;
    grid-gap: 12px;
  }

  a.btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    color: var(--white) !important;
  }

  &.red-bar--danger {
    background: var(--red);
  }

  &.red-bar--primary {
    background: var(--blue);
  }
}
