<ul class="no-style">
    <li>
        <div>
            <span class="far fa-calendar"></span>
            <p>{{ .Params.DisplayDate }}</p>
        </div>
    </li>
    {{ with .Params.Location }}
    <li>
        <div>
            <span class="fas fa-map-marker-alt"></span>
            <p>{{ . }}</p>
        </div>
    </li>
    {{ end }}
    {{ with .Params.Price }}
    <li>
        <div>
            <span class="fas fa-dollar-sign"></span>
            <div>
            {{ range . }}
            <p>{{ . }}</p>
            {{ end }}
            </div>
        </div>
    </li>
    {{ end }}
    {{ if isset .Params "childcare" }}
    <li>
        <p>
            <span class="fas fa-child"></span>
            <spn>{{- if eq .Params.Childcare true -}}Childcare Available{{- else -}}Childcare <strong>Not</strong> Available{{- end -}}</spn>
        </p>
    </li>
    {{ end }}
</ul>
