<nav class="menu">
    <button class="btn__icon" id="close">
        <span class="fas fa-times"></span>
    </button>
    <ul>
        <li><a href="/about">About</a></li>
        <li id="m-watch-link"><a href="/sermons">Sermons</a></li>
        <li><a href="https://flatland.churchcenter.com/registrations">Events</a></li>
        <li class="menu-has-submenu">
            <button>Ministries</button>
            <ul class="menu-submenu">
                <li><a href="/youth">Youth</a></li>
                <li><a href="/kids">Kids</a></li>
                <li><a href="/groups">Groups</a></li>
                <li><a href="/volunteer">Join a Team</a></li>
                <li><a href="/mentoring">Mentoring</a></li>
                <li><a href="/coaching">Coaching</a></li>
            </ul>
        </li>
        <li><a href="/give">Give</a></li>
        <li id="m-news-link"><a href="https://today.flatland.church?noCard=true">News</a></li>
    </ul>
</nav>

<script>
    !function() {
      document.getElementById('close').addEventListener('click', () => {
        document.querySelector('.menu').className = 'menu';
        document.querySelectorAll('.menu-has-submenu').forEach((el) => {
          el.className = 'menu-has-submenu';
        })
      });

      document.querySelector('.menu-has-submenu > button').addEventListener('click', (e) => {
        e.target.parentElement.className = e.target.parentElement.className.includes('open') ?
          'menu-has-submenu' :
          'menu-has-submenu open';
      });
    }();
</script>
