<nav class="menu">
    <button class="btn__icon" id="close">
        <span class="fas fa-times"></span>
    </button>
    <ul>
        <li><a href="/about">About</a></li>
        <li id="m-watch-link"><a href="/sermons">Sermons</a></li>
        <li><a href="https://flatland.churchcenter.com/registrations/signups/category/86060">Events</a></li>
        <li><a href="/discipleship">Discipleship</a></li>
        <li><a href="/give">Give</a></li>
        <li><a href="https://flatland.churchcenter.com/people/forms/15019">Prayer</a></li>
        <li><a href="https://flatland.churchcenter.com/login?return=https://flatland.churchcenter.com/home">Login</a></li>
    </ul>
</nav>

<script>
    !function() {
      document.getElementById('close').addEventListener('click', () => {
        document.querySelector('.menu').className = 'menu';
        document.querySelectorAll('.menu-has-submenu').forEach((el) => {
          el.className = 'menu-has-submenu';
        })
      });

      document.querySelector('.menu-has-submenu > button').addEventListener('click', (e) => {
        e.target.parentElement.className = e.target.parentElement.className.includes('open') ?
          'menu-has-submenu' :
          'menu-has-submenu open';
      });
    }();
</script>
