{{ define "main" }}
<section>
    <div class="container container__content">
        <h1>{{ .Title }}</h1>
        <div class="events">
            <div class="events__container" id="events-container">
                {{ range (sort .Pages "Params.startDate" "asc") }}
                    {{ if (time .Params.StartDate).After now }}
                        <div class="event-card" data-endDate="{{ .Params.endDate }}">
                            <a href="{{ .Permalink }}">
                                <div class="event-card__img">
                                    <img src="{{ .Params.Image }}" alt="{{ .Params.ImageAlt }}" />
                                </div>
                                <h2>{{ .Title }}</h2>
                                <span class='tag event-card__category tag--{{ lower (replaceRE `\s` "-" .Params.Category) }}'>{{ .Params.Category }}</span>
                                <div class="event-card__meta">
                                    <div>
                                        <span class="far fa-calendar"></span>
                                        <span>{{ .Params.StartDate | time.Format "January 2, 2006" }}</span>
                                    </div>
                                    <div>
                                        <span class="fas fa-map-marker-alt"></span>
                                        <span>{{ .Params.Location }}</span>
                                    </div>
                                </div>
                                <div class="event-card__summary">
                                    <p>{{ .Params.Excerpt }}</p>
                                </div>
                            </a>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
<script>
    const hideFinishedEvents = () => {
        const events = document.querySelectorAll('.event-card');
        const now = new Date();
        events.forEach(event => {
            const endDate = new Date(event.dataset.enddate);
            if (endDate < now) {
                event.remove();
            }
        });
    };

    !(async () => {
        hideFinishedEvents();
    })();
</script>
{{ end }}
